body {
    display: flex;
}


body > header > div {
    width: 100px;
    height: 100vh;
    left: 0px;
    top: calc(50% - 906px/2);
    background: #F7F6FF;
    transition: all 0.5s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: transparent;
    text-decoration: none;

}

header > div > img {
    display: flex;
    padding-top: 20px;
    margin-left: 35px;
    padding-bottom: 20px;
}

header > div > img:first-child {
    margin-left: 18px;
    transition: all 0.5s;
}

.nav-link {
    position: absolute;
    font-size: 16px;
    margin-left: 85px;
    margin-top: -40px;
    text-decoration: none;
    color: transparent;
    transition: all 0.5s;
}



header > div:hover {
    width: 206px;
}

header > div:hover .nav-link {
    display: block;
    color: #c4c4c4;
}

header > div:hover a:hover {
    text-decoration: underline;
}

header > div:hover img:first-child {
    margin-left: 65px;
}

.nav-line {
    width: 62.24px;
    height: 0px;
    margin-left: 18px;
    border-bottom: 2px solid #c4c4c4;
    transition: all 0.5s;
}

header > div:hover .nav-line {
    width: 170px;
}

.footer-line {
    position: absolute;
    display: flex;
    width: 346px;
    height: 0px;
    left: 45%;
    top: 97%;
    border: 1px solid #02577a;
}

.footer-text {
    position: absolute;
    left: 50%;
    top: 98%;
    font-size: 11px;
    line-height: 13px;
    color: #02577a;
}